joblib==1.2.0
keras==2.10.0
matplotlib==3.8.4
mlxtend==0.23.1
numpy==1.24.3
numpy==1.24.4
pandas==2.2.3
pytest==7.4.4
PyYAML==6.0.1
PyYAML==6.0.2
scikit_learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
statsmodels==0.14.0
tensorflow==2.10.0
tqdm==4.65.0
tqdm==4.66.2
versioningit==2.3.0
typing~=3.10.0.0
scikit-learn~=1.5.1
dbfread~=2.0.7
